/* reset */
body {

  margin: 0;
  padding: 0;
  height: 100vh;
}

video {

  max-width: 320px;
}

/* grid */
.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem;
}

.block {

  margin: 1rem;
  padding: 1rem;
}

/* utilities */
.h-100 {

  height: 100%;
}
